edeposito_desenv/v_atual/fm/fm/config/dtd/PMS_Sign_xml.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by name (comp) -->
<!--DTD generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<!ENTITY % name_group "((name | (prefix? , (last-name | orgname) , first-name? , middle-name? , suffix? , iid? , role? , orgname? , department? , synonym*)) , registered-number?)">
<!ENTITY % address_group "((address-1? , address-2? , address-3? , address-4? , address-5? , mailcode? , pobox? , room? , address-floor? , building? , street? , city? , county? , state? , postcode? , country) | text)">
<!ELEMENT address (%address_group;)>
<!ELEMENT electronic-signature (basic-signature | enhanced-signature)>
<!ATTLIST electronic-signature
	date CDATA #REQUIRED
	place-signed CDATA #IMPLIED
>
<!ELEMENT fax-image EMPTY>
<!ATTLIST fax-image
	file CDATA #REQUIRED
>
<!ELEMENT name (#PCDATA)>
<!ATTLIST name
	name-type CDATA #REQUIRED
>
<!ELEMENT signatories (signatory+)>
<!ELEMENT signatory (%name_group;, address?, electronic-signature, signatory-capacity?)>
<!ELEMENT signatory-capacity (#PCDATA)>
<!ELEMENT enhanced-signature (pkcs7)>
<!ELEMENT pkcs7 EMPTY>
<!ELEMENT basic-signature (fax-image | text-string | click-wrap)>
<!ELEMENT click-wrap EMPTY>
<!ELEMENT text-string (#PCDATA)>
